@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

header {
  background-color: #78081c;
  width: 100%;
}

header nav {
  padding: 0 20px 0 20px;
}

header nav ul.nav-item {
  list-style-type: none;
  display: flex;
}

header nav ul.nav-item li.nav-item {
  padding: 10px;
}

header nav ul.nav-item li.nav-item img.nav-item {
  width: 180px;
}

header nav ul.nav-item li.nav-item a.nav-item {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

main section.search {
  display: flex;
  justify-content: center;
}

main section.search form.search {
  display: flex;
  background-color: #78081c;
  border: 2px solid #78081c;
  border-radius: 20px;
  padding: 5px;
}

main section.search form.search input[type="text"] {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 400px;
  padding: 10px 0 10px 0;
}

main section.search form.search select {
  border: none;
  background-color: #78081c;
  color: #fff;
  font-size: 1rem;
  padding: 10px 0 10px 0;
}

main section.movie {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

main section.movie div.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 5px #000;
  box-shadow: 5px 5px 10px 5px #000;
}

main section.movie div.movie img.movie {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* display popup comments */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

.popup-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-details {
  padding: 20px;
}

.popup-details button {
  float: right;
  padding: 5px;
}


main section.movie div.movie div.button-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}

main section.movie div.movie div.button-container p.like-counter {
  justify-self: end;
}

footer {
  background-color: #78081c;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo-img {
  height: 5rem;
  width: 10rem;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* Desktop */

@media only screen and (min-width: 768px) {
  header nav ul.nav-item {
    justify-content: space-between;
  }

  header nav ul.nav-item div.nav-item {
    display: flex;
  }

  header nav ul.nav-item li.nav-item a.nav-item {
    font-size: 1.5rem;
  }
}

/* Mobile */

@media only screen and (max-width: 767px) {
  header nav {
    padding: 0 5px 0 5px;
  }

  header nav ul.nav-item {
    justify-content: space-between;
  }

  header nav ul.nav-item div.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav ul.nav-item li.nav-item a.nav-item {
    font-size: 1.2rem;
  }
}